.app-wrapper {
  display: grid;
  margin: 0 auto;

  grid-template-areas: 
  'h h'
  'n c'
  'f f';

  grid-template-rows: 60px auto 80px;
  grid-template-columns: 1.5fr 10.5fr;
  grid-gap: 10px;
}

.app-wrapper-content{
  grid-area: c;
  background: #fff;
}